body {
    background-color: rgb(223, 198, 168);
}
header {
    font: bold 40px Arial;
    text-align: center;
    color: white;
}
footer {
    font: normal 20px Arial;
    text-align: center;
    color: white;
}
div {
    border: 0px solid;
    background-color: white;
    box-shadow: 2px 2px 0px 0px rgb(129, 129, 129);
    width: 80%;
    height: 300px;
}
div#box {
    text-align: center;
    margin: 50px;
}